<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Klac Klork</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

        body {
            font-family: "Kantumruy Pro", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

        h2 {
            font-size: 50px;
            font-weight: bold;
        }

        h3 {
            font-size: 30px;
            font-weight: 700px;
        }

        .darkened {
            background-image: linear-gradient(to right top, #b23ddc, #ff0092, #ff5e3d, #fcaf00, #a8eb12);
        }

        .bg-pink-300 {
            background-color: #fbcfe8;
        }

        .bg-red-500 {
            background-color: #ef4444;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="h-screen w-screen flex justify-center items-center">
            <div class="bg-white rounded-lg shadow-md p-4 w-70 h-70 overflow-hidden">
                <h2 class="text-center">ខ្លាឃ្លោក</h2>
                <div class="text-left">
                    <p> អ្នកមានទឹកប្រាក់
                        <span class="font-bold">{{ balance }}</span>
                        រៀល
                    </p>
                </div>

                <div class="grid grid-cols-3 gap-4" id="bet_gride">
                    <!-- Row 1 -->
                    <div class="bg-gray-100 p-4 rounded-lg flex flex-col items-center hover:shadow-md cursor-pointer"
                        ref="bet_1" @click="incrementBet(1)">
                        <p class="text-center mb-2" v-if="bet_1 > 0">ចាក់ {{ bet_1 }}</p>
                        <img src="image/1.jpg" alt="" class="w-full">
                    </div>

                    <div class="bg-gray-100 p-4 rounded-lg flex flex-col items-center hover:shadow-md cursor-pointer"
                        ref="bet_2" @click="incrementBet(2)">
                        <p class="text-center mb-2" v-if="bet_2 > 0">ចាក់ {{ bet_2 }}</p>
                        <img src="image/2.jpg" alt="" class="w-full">
                    </div>

                    <div class="bg-gray-100 p-4 rounded-lg flex flex-col items-center hover:shadow-md cursor-pointer"
                        ref="bet_3" @click="incrementBet(3)">
                        <p class="text-center mb-2" v-if="bet_3 > 0">ចាក់ {{ bet_3 }}</p>
                        <img src="image/3.jpg" alt="" class="w-full">
                    </div>

                    <!-- Row 2 -->
                    <div class="bg-gray-100 p-4 rounded-lg flex flex-col items-center hover:shadow-md cursor-pointer"
                        ref="bet_4" @click="incrementBet(4)">
                        <p class="text-center mb-2" v-if="bet_4 > 0">ចាក់ {{ bet_4 }}</p>
                        <img src="image/4.jpg" alt="" class="w-full">
                    </div>

                    <div class="bg-gray-100 p-4 rounded-lg flex flex-col items-center hover:shadow-md cursor-pointer"
                        ref="bet_5" @click="incrementBet(5)">
                        <p class="text-center mb-2" v-if="bet_5 > 0">ចាក់​​ {{ bet_5 }}</p>
                        <img src="image/5.jpg" alt="" class="w-full">
                    </div>

                    <div class="bg-gray-100 p-4 rounded-lg flex flex-col items-center hover:shadow-md cursor-pointer"
                        ref="bet_6" @click="incrementBet(6)">
                        <p class="text-center mb-2" v-if="bet_6 > 0">ចាក់ {{ bet_6 }}</p>
                        <img src="image/6.jpg" alt="" class="w-full">
                    </div>
                </div>

                <div class="mt-3 mb-3 flex justify-center items-center">
                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 
                        rounded inline-flex items-center bg-yellow-500 rounded-full" @click="bet()" id="bet_btn">
                        <span class="text-white ">{{ start_word }}</span>
                    </button>
                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-00 py-2 
                        px-4 rounded inline-flex items-center ml-2 bg-red-700 rounded-full" @click="clear_bet()">
                        <span class="text-white">ចាក់ម្ដងទៀត</span>
                    </button>
                </div>

                <div class="grid grid-cols-3 gap-4" id="bet_result">
                    <div class="bg-gray-100 p-4 rounded-lg" id="win_1">
                        <img src="image/1.jpg" alt="" id="result_1">
                    </div>
                    <div class="bg-gray-100 p-4 rounded-lg" id="win_2">
                        <img src="image/1.jpg" alt="" id="result_2">
                    </div>
                    <div class="bg-gray-100 p-4 rounded-lg" id="win_3">
                        <img src="image/1.jpg" alt="" id="result_3">
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div v-if="showModal" class="fixed inset-0 flex items-center justify-center z-50">
            <div class="bg-black bg-opacity-50 absolute inset-0"></div>
            <div class="bg-white rounded-lg p-8 z-10">
                <h2 class="text-2xl font-bold mb-4">{{ popupMessage }}</h2>
                <div class="flex justify-center items-center">
                    <img :src="image" alt="">
                </div>

                <button class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right"
                    @click="closeModal">បិទ</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        var audio = new Audio('audio/music.m4a');
        var click = new Audio('audio/click.wav');
        var happy = new Audio('audio/happy.mp3');
        let image = ['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg'];
        let bet = false;
        let intervalId = null;

        createApp({
            data() {
                return {
                    bet_1: 0,
                    bet_2: 0,
                    bet_3: 0,
                    bet_4: 0,
                    bet_5: 0,
                    bet_6: 0,
                    balance: 10000,
                    betAmount: 500,
                    start_word: 'ចាក់',
                    darkenedElements: [],
                    resultImages: [],
                    popupMessage: '',
                    image: '',
                    showModal: false, // For controlling modal visibility
                    add_balance: true
                };
            },
            methods: {
                incrementBet(betNumber) {
                    if (bet) {
                        this.popupMessage = "សូមចុចប៉ូតុង ចាក់ម្ដងទៀត ដើម្បីចាក់បន្ត 👌👌";
                        this.showModal = true; // Show modal
                    } else {
                        if (this.balance >= this.betAmount) {
                            this[`bet_${betNumber}`] += this.betAmount;
                            this.balance -= this.betAmount;
                            click.pause();  // Pause the current audio
                            click.currentTime = 0;  // Reset the audio to the beginning
                            click.play();  // Play the audio
                        } else {
                            this.popupMessage = "យីចាក់ទាល់តែអស់លុយ 🙄🙂";
                            this.image = 'image/sad.png';
                            this.showModal = true; // Show modal
                        }
                    }

                },
                clear_bet() {
                    this.bet_1 = this.bet_2 = this.bet_3 = this.bet_4 = this.bet_5 = this.bet_6 = 0;
                    Object.keys(this.$refs).forEach(ref => {
                        this.$refs[ref].classList.remove('darkened');
                        this.$refs[ref].classList.remove('bg-pink-300');
                        this.$refs[ref].classList.remove('bg-red-500');
                    });
                    clearInterval(intervalId);
                    intervalId = null;
                    [1, 2, 3].forEach(i => {
                        let winElement = document.getElementById(`win_${i}`);
                        winElement.querySelector('img').src = 'image/1.jpg';
                    });
                    this.resultImages = [];
                    this.start_word = 'ចាក់';
                    audio.pause();
                    audio.currentTime = 0;
                    bet = false;
                },
                chooseResultImages() {
                    let resultIndices = [];
                    while (resultIndices.length < 3) {
                        let rand = Math.floor(Math.random() * 6);
                        if (!resultIndices.includes(rand)) resultIndices.push(rand);
                    }
                    this.resultImages = resultIndices.map(index => image[index]);
                    this.updateResultImages();

                    intervalId = setInterval(() => {
                        this.updateResultImages();
                        this.randomizeBetGridDarkening(); // Randomly darken bet_grid cells during randomization
                    }, 100);
                },
                updateResultImages() {
                    this.resultImages.forEach((img, i) => {
                        let winElement = document.getElementById(`win_${i + 1}`);
                        let randImgIndex = Math.floor(Math.random() * 6);
                        let randomImage = image[randImgIndex];
                        winElement.querySelector('img').src = `image/${randomImage}`;
                    });
                },
                randomizeBetGridDarkening() {
                    Object.keys(this.$refs).forEach(ref => {
                        let betElement = this.$refs[ref];
                        let betValue = this[`bet_${ref.split('_')[1]}`];
                        if (betValue > 0) {
                            betElement.classList.toggle('darkened', Math.random() > 0.5);
                        }
                    });
                },
                bet() {
                    if (bet) {

                        this.start_word = 'បានចាក់';
                        clearInterval(intervalId);
                        audio.pause();
                        this.finalizeResults();
                        happy.play();
                        this.checkWinOrLoss();

                    } else {
                        let hasValidBet = false; // Flag to check if there's any valid bet

                        Object.keys(this.$refs).forEach(ref => {
                            let currentBetValue = this[`bet_${ref.split('_')[1]}`];

                            if (currentBetValue > 0) {
                                hasValidBet = true; // Set the flag to true if a valid bet is found
                            }
                        });

                        if (!hasValidBet) {
                            this.popupMessage = "សូមចាក់ជាមុនសិន";
                            this.showModal = true;
                        } else {
                            this.start_word = 'ចាក់ហើយដកដៃ';
                            audio.play();
                            bet = true;
                            this.chooseResultImages();
                            this.add_balance = true;
                        }


                    }
                },
                finalizeResults() {
                    const imageOccurrences = {};

                    Object.keys(this.$refs).forEach(ref => {
                        let betElement = this.$refs[ref];
                        let betValue = this[`bet_${ref.split('_')[1]}`];
                        betElement.classList.remove('darkened');

                        if (betValue > 0) {
                            this.resultImages.forEach((img, i) => {
                                let winElement = document.getElementById(`win_${i + 1}`);
                                let srcImage = winElement.querySelector('img').src.split('/').pop();

                                if (betElement.querySelector('img').src.includes(srcImage)) {
                                    betElement.classList.add('darkened');
                                    imageOccurrences[srcImage] = (imageOccurrences[srcImage] || 0) + 1;
                                }
                            });
                        }
                    });

                    // Update background color based on occurrences
                    Object.keys(imageOccurrences).forEach(image => {
                        const occurrenceCount = imageOccurrences[image];
                        let color = '';

                        if (occurrenceCount === 2) {
                            color = 'bg-pink-300'; // Tailwind color class for pink background
                        } else if (occurrenceCount >= 3) {
                            color = 'bg-red-500'; // Tailwind color class for red background
                        }

                        if (color) {
                            Object.keys(this.$refs).forEach(ref => {
                                let betElement = this.$refs[ref];
                                if (betElement.querySelector('img').src.includes(image)) {
                                    betElement.classList.remove("darkened");
                                    betElement.classList.add(color);
                                }
                            });
                        }
                    });
                },
                checkWinOrLoss() {
                    if (this.add_balance) {
                        let totalWon = 0;
                        let totalLost = 0;

                        Object.keys(this.$refs).forEach(ref => {
                            let betElement = this.$refs[ref];
                            let betValue = this[`bet_${ref.split('_')[1]}`];
                            if (betElement.classList.contains('darkened') && betValue > 0) {
                                totalWon += betValue * 2; // Double the bet amount if won
                            }
                            else if (betElement.classList.contains('bg-pink-300') && betValue > 0) {
                                totalWon += betValue * 3; // double win
                            }
                            else if (betElement.classList.contains('bg-red-500') && betValue > 0) {
                                totalWon += betValue * 4; // triple win
                            }
                            else if (betValue > 0) {
                                totalLost += betValue; // Loss is the bet amount
                            }
                        });

                        this.balance += totalWon

                        let message = '';
                        if (totalWon > 0) {
                            message += `អ្នកឈ្នះ ${totalWon} រៀល​ 🤩🤩\n`;
                        }
                        if (totalLost > 0) {
                            message += `អ្នកចាញ់ ${totalLost} រៀល 😑`;
                        }

                        this.popupMessage = message;
                        this.image = 'image/happy.png'
                        if (totalWon < totalLost) {
                            this.image = 'image/sad.png'
                        }


                        this.showModal = true; // Show modal
                        this.add_balance = false
                    } else {
                        this.popupMessage = "សូមចុចប៉ូតុង ចាក់ម្ដងទៀត ដើម្បីចាក់បន្ត 👌👌";
                        this.image = ''
                        this.showModal = true; // Show modal
                    }
                },

                closeModal() {
                    this.showModal = false; // Close modal
                },
            },
            mounted() {
                audio.addEventListener('ended', () => {
                    this.bet();
                });
            }
        }).mount('#app');
    </script>
</body>

</html>